<h1> Kam-mail </h1>

<ul>
  {{#each email in model}}
    <li>{{#link-to 'email' email.id}}
    {{email.sender}} : {{email.subjectLine}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to 'new-email' classNames="btn btn-info"}}Create New Email{{/link-to}}
